{% extends 'base.html' %}
{% load static %}

{% block content %}


<h1>Plant Index</h1>
{% if plants %}
{% for plant in plants %}
<div class="card flex flex-col w-fit m-6">
    <h2>{{plant.name}}</h2>
    <p>{{plant.description}}</p>
    {% if plant.dayssinceplanted > 0 %}
    <p><strong>Planted: </strong>{{plant.dayssinceplanted}} day(s) ago</p>
    {% else %}
    <p><strong>Planted: </strong>Today</p>
    {% endif %}
    {% if plant.daysuntilmature != 0 %}
    <p><strong>{{plant.daysuntilmature}} </strong>days until maturity</p>
    {% else %}
    <p><strong>Ready to Harvest!</strong></p>
    {% endif %}
</div>
{% endfor %}
{% else %}
<div>
    <h2>No Plants</h2>
</div>
{% endif %}
{% endblock %}