{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 class="text-3xl font-bold mb-6">My Gardens</h1>
<div class=" garden-container grid grid-cols-1 sm:grid-cols-2 w-1/2 ">
    {% for garden in gardens %}
    <div class="garden-card bg-green-200 p-4 border border-gray-900 w-1/2 flex flex-col items-center">
        <h2 class="text-xl font-bold">{{ garden.name }}</h2>
        <h3>Total Plots: {{ garden.plot_set.count }}</h3>
        <a href="{% url 'garden-detail' garden.id %}">View Garden</a>
    </div>
    {% endfor %}
</div>
<div class="flex  mt-10">
    <a href="{% url 'garden-create' %}" class="w-2/3">
        <div class="bg-green-200 p-4 border border-gray-900 w-full">
            <h2 class="text-xl font-bold flex justify-center">Add a Garden</h2>
        </div>
    </a>
</div>

{% endblock %}