{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="grid grid-cols-flow grid-flow-row gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 mx-14">
    {% for plot in urgent_plots %}
    <div class="flex ">
        <a href="{% url 'plot-detail' plot.id %}">
            <div
                class="bg-green-200  border border-gray-900 min-w-40 min-h-40 flex justify-start flex-col items-center">
                <h2 class="text-xl font-bold">{{ plot.name }}</h2>
                <p><strong>Garden:</strong>{{plot.garden.name}} </p>
                <h3><strong>Days Since Last Watering:</strong> {{plot.days_since_watered}}</h3>
                <p><strong>Total Plants:</strong>{{plot.plant_set.count}}</p>
                <div class="flex flex-wrap justify-center m-2">
                    <a class="btn-edit plot-btn w-0.5" href="{% url 'plot-update' plot.id %}">Edit</a>
                    <a class="btn-delete plot-btn w-0.5" href="{% url 'plot-delete' plot.id %}">Delete</a>
                    <a class="btn-water plot-btn w-full" href="{% url 'plot-water' plot.id %}">Water Plot</a>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}